@model Cuentas.Ar.Entities.Recordatorio

<!-- #region Estilos CSS -->
<link href="~/Content/assets/css/material-dashboard.min.css" rel="stylesheet" />
<link href="~/Content/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
<!-- #endregion -->

<div class="col-md-12">
    @using (Html.BeginForm("Edicion", "Recordatorio", FormMethod.Post, new { id = "recordatorioForm", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idRecordatorio)

        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">access_time</i>
                </div>
                <h4 class="card-title">Edición de Recordatorio</h4>
            </div>
            <div class="card-body ">
                <div class="form-horizontal">
                    <div class="row">
                        <label class="col-md-3 col-form-label">Titulo</label>
                        <div class="col-md-9">
                            <div class="form-group bmd-form-group">
                                @Html.TextBoxFor(model => model.Titulo, new { @id = "Titulo", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Categoría</label>
                        <div class="col-md-9">
                            <div class="form-group has-default bmd-form-group">
                                @Html.DropDownListFor(model => model.idCategoria, ViewBag.ddl_Categoria as SelectList, new { @id = "Categoria", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione una categoría" })
                                @Html.ValidationMessageFor(model => model.idCategoria)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Estado</label>
                        <div class="col-md-9">
                            <div class="form-group has-default bmd-form-group">
                                @Html.DropDownListFor(model => model.idEstado, ViewBag.ddl_EstadoRecordatorio as SelectList, new { @id = "EstadoRecordatorio", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione un estado" })
                                @Html.ValidationMessageFor(model => model.idEstado)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">F. de Vencimiento</label>
                        <div class="col-md-9">
                            <div class="form-group has-default bmd-form-group">
                                @Html.TextBoxFor(model => model.FechaVencimiento, new { @id = "FechaVencimiento", @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.FechaVencimiento)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Descripción</label>
                        <div class="col-md-9">
                            <div class="form-group bmd-form-group">
                                @Html.TextAreaFor(model => model.Descripcion, new { @id = "descRecordatorio", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-fill btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-fill btn-primary">Guardar</button>
            </div>
        </div>
    }
</div>

<!-- #region JavaScript -->
<script src="~/Content/assets/js/material-dashboard.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap-selectpicker.js"></script>
<script>
    $(function ($) {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }
    });

    $('.datepicker').datetimepicker({ format: 'DD/MM/YYYY', locale: 'es', useCurrent: true });
</script>
<!-- #endregion -->