<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cuentas.Ar - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top navTop mgBottom0" role="navigation">
            @Html.Partial("_Header")
            @{ Html.RenderAction("Top", "Botonera"); }
            @Html.Partial("_Menu")
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            @RenderBody()
        </div>

        <!-- /#page-wrapper -->
        @Html.Partial("_Footer")
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/js")
</body>
</html>
