<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cuentas.Ar - @ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    @*@Styles.Render("~/bundles/css")*@
</head>
<body>
    <div id="wrapper">
        <!-- Menu -->
        @*@Html.Partial("_BotoneraTop")*@
        @Html.Partial("_Menu")
        @*@{ Html.RenderAction("Top", "Botonera"); }*@
        <!-- End Menu -->
        <!-- Page Content -->
        <div class="content">
            <div class="main-panel">
                @Html.Partial("_Header")
                @RenderBody()
            </div>
        </div>
        <!-- End Page Content -->
        @*@Html.Partial("_Footer")*@
    </div>

    @*<script src="~/Content/assets/js/core/jquery.min.js" type="text/javascript"></script>*@
    @*@Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <!--   Core JS Files   -->
        <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Chartist JS -->
        <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/Content/assets/js/material-dashboard.js" type="text/javascript"></script>
        <script src="~/Content/login/js/main.js"></script>*@
</body>
</html>