<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cuentas.Ar</title>

    <!-- CSS -->
    @Styles.Render("~/bundles/css")

    <!-- JS -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
</head>
<body>
    @RenderBody()
</body>
</html>

@Scripts.Render("~/bundles/js")