<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cuentas.Ar - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <!-- CSS -->
    @Styles.Render("~/bundles/css")

    <!-- JS -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
</head>

<body>
    <div id="wrapper">
        <!-- Menu -->
        @Html.Partial("_Menu")
        <!-- End Menu -->
        <!-- Page Content -->
        <div class="content">
            <div class="main-panel">
                @Html.Partial("_Header")
                @RenderBody()
            </div>
        </div>
        <!-- End Page Content -->
    </div>

    @Html.Partial("_Modals")
</body>
</html>

@Scripts.Render("~/bundles/js")