@{
    var Controlador = ViewContext.RouteData.Values["controller"].ToString();
    var Accion = ViewContext.RouteData.Values["action"].ToString();
}

<div class="sidebar" data-color="purple" data-background-color="black" data-image="../../Content/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a class="simple-text logo-normal" style="text-align:center">
            MisCuentas.com
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            @Html.MenuActionLinkMenu("Mis Cuentas", "Index", "Home", "home")

            @Html.MenuActionLinkMenu("Nuevo Registro", "Index", "Home5", "plus")

            @Html.MenuActionLinkMenu("Mis Registros", "Index", "Home3", "file-text-o")

            @Html.MenuActionLinkMenu("Mis Estadisticas", "Index", "Home4", "bar-chart")

            @Html.MenuActionLinkMenu("Mis Recordatorios", "Index", "Listado", "clock-o")

            @Html.MenuActionLinkMenu("Mis Datos", "MisDatos", "Usuario", "user")

            <li class="@MenuHelper.EstadoMenu(Controlador) nav-item">
                <a class="nav-link" data-toggle="collapse" href="#tablesExamples" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                    <p>
                        Configuración
                        <b class="caret"></b>
                    </p>
                </a>

                <div id="tablesExamples" class="collapse" style="">
                    <ul class="nav">
                        @Html.MenuActionSubLinkMenu("Parámetros", "Configuracion", "Parametros", "cogs")
                        @Html.MenuActionSubLinkMenu("Categorías", "Listado", "Categoria", "check-square")
                        @Html.MenuActionSubLinkMenu("SubCategorías", "Listado", "SubCategoria", "check-circle")
                    </ul>
                </div>
            </li>

            @Html.MenuActionLinkMenu("Cerrar Sesión", "LogOff", "Cuenta", "sign-out")

        </ul>
    </div>
</div>