@model Cuentas.Ar.Entities.Usuario

@{
    ViewBag.Title = "MisDatos";
}

<!-- #region Estilos CSS -->
<link href="~/Content/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
<!-- #endregion -->

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Mis Datos</h4>
                <p class="card-category">Perfil de Usuario</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("MisDatos", "Usuario", FormMethod.Post, new { id = "misDatosForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nombre Completo / Organización</label>
                                @Html.TextBoxFor(model => model.Nombre, new { @id = "Nombre", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @id = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Contraseña</label>
                                @Html.PasswordFor(model => model.Password, new { @id = "Password", @class = "form-control", Value = "password" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Profesión</label>
                                @Html.TextBoxFor(model => model.Profesion, new { @id = "Profesion", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Teléfono</label>
                                @Html.TextBoxFor(model => model.Telefono, new { @id = "Telefono", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Sexo</label>
                                @Html.TextBoxFor(model => model.Sexo, new { @id = "Sexo", @class = "form-control", @maxlength = "1" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="lblFechaNacimiento" class="form-group">
                                <label class="bmd-label-floating">F. Nacimiento / I. de Actividad</label>
                                @Html.TextBoxFor(model => model.FechaNacimiento, new { @id = "Fecha", @class = "form-control datepicker", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.FechaNacimiento)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Dirección</label>
                                @Html.TextBoxFor(model => model.Direccion, new { @id = "Direccion", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Direccion)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="bmd-label-floating">Cód. Postal</label>
                                @Html.TextBoxFor(model => model.CodigoPostal, new { @id = "CodigoPostal", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CodigoPostal)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.idProvincia, ViewBag.ddl_Provincia as SelectList, new { @id = "Provincia", @class = "selectpicker", @data_style = "btn btn-primary btn-sm", @data_live_search = "true", @data_size = "5", @title = "Seleccione una povincia", data_width = "100%" })
                                @Html.ValidationMessageFor(model => model.idProvincia)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.idLocalidad, new SelectListItem[] { new SelectListItem() { Text = "", Value = "" } }, new { @id = "Localidad", @class = "selectpicker", @data_style = "btn btn-primary btn-sm", data_width = "100%", @data_live_search = "true", @data_size = "5", @title = "Seleccione una localidad", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.idLocalidad)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.idTipoCuenta, ViewBag.ddl_TipoCuenta as SelectList, new { @id = "TipoCuenta", @class = "selectpicker", @data_style = "btn btn-primary btn-sm", data_width = "100%", @title = "Seleccione un tipo de cuenta" })
                                @Html.ValidationMessageFor(model => model.idTipoCuenta)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.idTipoTarjeta, ViewBag.ddl_TipoTarjeta as SelectList, new { @id = "TipoTarjeta", @class = "selectpicker", @data_style = "btn btn-primary btn-sm", data_width = "100%", @title = "Seleccione un tipo de tarjeta" })
                                @Html.ValidationMessageFor(model => model.idTipoTarjeta)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Número de Tarjeta</label>
                                @Html.TextBoxFor(model => model.NroTarjeta, new { @id = "NroTarjeta", @class = "form-control", @maxlength = "18" })
                                @Html.ValidationMessageFor(model => model.NroTarjeta)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Código de Seguridad</label>
                                @Html.TextBoxFor(model => model.CodSeguridad, new { @id = "CodSeguridad", @class = "form-control", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.CodSeguridad)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Venc. Tarjeta</label>
                                @Html.TextBoxFor(model => model.VencTarjeta, new { @id = "VencTarjeta", @class = "form-control maskDateMin", @maxlength = "5" })
                                @Html.ValidationMessageFor(model => model.VencTarjeta)
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-primary col-md-12">
                        <span>
                            <b> Contraseña - </b> Solamente completar el campo si desea modificarla.
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Actualizar Perfil</button>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header card-header-info">
                <h4 class="card-title">Planes</h4>
                <p class="card-category">Detalles</p>
            </div>
            <div class="card-body ">
                <ul class="nav nav-pills nav-pills-info" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#link1" role="tablist">
                            Premium
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                            Business
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-space">
                    <div class="tab-pane" id="link1">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Costo: USD 1 por Mes</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Recordatorios</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Objetivos</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Reportes en PDF</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Soporte Técnico</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Reportes en Excel</li>
                        </ul>
                    </div>
                    <div class="tab-pane active show" id="link2">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Costo: USD 10 por Año</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Recordatorios</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Módulo de Objetivos</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Reportes en PDF</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Reportes en Excel</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Soporte Técnico</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function ($) {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }
    });

    //$(".maskDate").inputmask("datetime", { inputFormat: 'dd/mm/yyyy', min: '01/01/1900', max: '31/12/2100', showMaskOnHover: false, showMaskOnFocus: false });
    $(".maskDateMin").inputmask({ mask: "99/99", placeholder: "mm/yy", showMaskOnFocus: false, showMaskOnHover: false });
    $('.datepicker').datetimepicker({ format: 'DD/MM/YYYY', locale: 'es' });

    $(".datepicker").on("dp.change", function (e) {
        $("#lblFechaNacimiento").addClass("is-filled");
        return false;
    });

    /*Se cargan las localidades dependiendo de la provincia seleccionada*/
    $('#Provincia').change(function () {
            var idProvincia = $(this).val();
            if (idProvincia != null && idProvincia != "")
            {
                $('#CodigoPostal').val("");
                $('#Localidad').val("");
                $.getJSON('@Url.Action("ListarLocalidades", "Localidad")', {
                    idProvincia: idProvincia
                })
                .done(function (data) {
                    if (data.Estado == 1) {
                        var items = "";
                        $.each(data.Combo, function (i, Loca) {
                            items += "<option value='" + Loca.Value + "'>" + Loca.Text + "</option>";
                        });

                        $('#Localidad').append(items);
                        $('#Localidad').removeAttr("disabled");
                        $('#Localidad').selectpicker('refresh')
                    }
                })
                .fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                });
            }
            return false;
        });
        /*Se cargan las localidades dependiendo de la provincia seleccionada*/
</script>
