@model Cuentas.Ar.Entities.M_FiltroRegistro

<!-- #region Estilos CSS -->
<link href="~/Content/vendor/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
<!-- #endregion -->

@using (Ajax.BeginForm("Buscar", "Registro", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "listaRegistro",
    OnBegin = "onBegin",
    OnComplete = "onComplete",
    OnSuccess = "onSuccess"
}, new { @id = "formBusqueda" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">search</i>
                        </div>
                        <div class="card-title">
                            <h4>Filtros</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="form-horizontal">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Fecha Desde:</label>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.TextBoxFor(model => model.FechaDesde, new { @id = "FechaDesde", @class = "form-control datepicker", @maxlength = "10" })

                                    </div>
                                </div>

                                <label class="col-md-2 col-form-label">Fecha Hasta:</label>
                                <div class="col-md-3">
                                    <div class="form-group has-default bmd-form-group">
                                        @Html.TextBoxFor(model => model.FechaHasta, new { @id = "FechaHasta", @class = "form-control datepicker", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 col-form-label">Categoría</label>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.DropDownListFor(model => model.idCategoria, ViewBag.ddl_Categoria as SelectList, new { @id = "Categoria", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione.." })
                                    </div>
                                </div>

                                <label class="col-md-2 col-form-label">SubCategoría</label>
                                <div class="col-md-3">
                                    <div class="form-group has-default bmd-form-group">
                                        @Html.DropDownListFor(model => model.idCategoria, ViewBag.ddl_Categoria as SelectList, new { @id = "Categoria", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione.." })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 col-form-label">Tipo de Registro:</label>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.DropDownListFor(model => model.idTipoRegistro, ViewBag.ddl_TipoRegistro as SelectList, new { @id = "TipoRegistro", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione.." })
                                    </div>
                                </div>

                                <label class="col-md-2 col-form-label">Descripción:</label>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.TextBoxFor(model => model.Descripcion, new { @id = "Descripcion", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 col-form-label">Moneda</label>
                                <div class="col-md-3">
                                    <div class="form-group bmd-form-group">
                                        @Html.DropDownListFor(model => model.idMoneda, ViewBag.ddl_Moneda as SelectList, new { @id = "Moneda", @class = "selectpicker col-md-12", @data_style = "btn btn-primary btn-sm", @title = "Seleccione.." })
                                    </div>
                                </div>

                                <label class="col-md-2 col-form-label">Importe</label>
                                <div class="col-md-3">
                                    <div class="form-group has-default bmd-form-group">
                                        @Html.TextBoxFor(model => model.Importe, new { @id = "Importe", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Buscar</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.datepicker').datetimepicker({ format: 'DD/MM/YYYY', locale: 'es' });
</script>